html,
body,
#root {
  height: 100%;
  width: 100%;
  color: rgb(185, 185, 185);
  background: #0b1722;
}

d-row,
d-col {
  background-color: #403f3f;
  border-radius: 4px;
}

pre {
  font-size: 14px;
  max-height: 300px;
  overflow: scroll;
}

.case-container {
  /* width 默认设置 content 的宽度，所以整个容器的长度，将会是 640px，设置 border-box 修正该问题
   * 子元素的 width 100% 是根据父容器的内容宽度计算
   */
  width: 100%;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #272822;
}

.case-container.row-col-align-case,
.case-container.row-col-align-case {
  height: 300px;
}
.row-col-align-case d-row,
.row-col-align-case d-col {
  font-size: 12px;
  padding: 2px;
  background-color: #403f3f;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inline-elem2 > * {
  width: 50px;
  height: 50px;
}

.inline-elem3 > * {
  width: 200px;
  height: 50px;
}

.border {
  border: solid 1px #858585;
  border-radius: 4px;
}

.bg-color {
  background-color: #403f3f;
  border-radius: 4px;
}

.float-square {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #403f3f;
}

.table-container {
  overflow: scroll;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: max-content;
  min-width: 100%;
  background-color: #272822;
}

th,
td {
  min-width: 50px;
  text-align: center;
  border-bottom: solid 1px #0b1722;
  border-right: solid 1px #0b1722;
  padding: 4px;
}

.text-left {
  text-align: left;
}

h1,
h2,
.text-center {
  text-align: center;
}

section {
  max-width: 680px;
  margin: auto;
}
