html,body,#root {
  height: 100%;
  color: rgb(185, 185, 185);
  background: #0b1722
}

d-view, d-row, d-col {
  border: solid 1px rgb(212, 212, 212);
}

pre {
  font-size: 14px;
}

#root {
  width: 680px;
  margin: auto;
}

.case-container {
  /* width 默认设置 content 的宽度，所以整个容器的长度，将会是 640px，设置 border-box 修正该问题
   * 子元素的 width 100% 是根据父容器的内容宽度计算
   */
  width: 600px;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #272822;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
